*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Roboto, sans-serif;

}
section{
    padding: 100px 0;
}
:root{
    --primary-color: #f74424;
    --primary-color-dark: #172554;
    --primary-color-hover-green: green;
    --primary-color-hover-1: #f97316;
    --primary-back-color: #f4f1ea;
    --secondary-color:#ff8a5b;
    --color-grey:#f4f4f4;
    --darker-grey:#f4f4f4;
    --column-gutter: ;
}

.nav{
    max-width: 1220px;
    margin: 0 auto;
}
.mobile-nav-icon{
    float: right;
    line-height: 70px;
    display: none;
    color: red;
    font-size: 30px;
}
.nav::after{
    content: "";
    clear: both;
    display: table;
}
.nav-logo-container{
    float: left;
}
.nav-logo-container::after{
    content: "";
    clear: both;
    display: table;
}

.nav-logo-box::after{
    content: "";
    clear: both;
    display: table;
}
.nav-logo-box{
    padding-top: 15px;
}

.brand{
    display: inline;
    font-weight: 800;
    font-size: 20px;
    
}
.brand-header{
    font-size: 30px;
}
.fa-burger{
    color: var(--primary-color);
    font-size: 20px;
}
.nav-menu{
    float: left;
    padding-left: 20%;
    padding-top: 20px;
}
.nav-menu::after{
    content: "";
    clear: both;
    display: table;
}
.nav-item{
    float: left;
    list-style: none;
}
.nav-item:not(:last-child){
    margin-right: 25px;
}
.nav-link{
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.nav-link:hover{
    color: var(--primary-color-hover-1);
}
.nav-list{
    content: "";
    clear: both;
    display: table;
}

/*----------btn--------*/

.btn{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    padding: 15px 30px;
    transition: all, 1s;
    margin-top: 10px;
}

.btn-container{
    float: right;
}

.btn-blue{
    background-color: var(--primary-color-dark);
}
.btn-green{
    background-color: green;
}
.btn-grey{
    background-color: rgb(89, 89, 209);
}
.btn-grey:hover{
    background-color: var(--primary-color-hover-green);
}
.btn-green:hover{
    background-color: rgb(4, 51, 4);
}
.btn-blue:hover{
    background-color: var(--primary-color-hover-1);
}
.btn-orange{
    background-color: var(--primary-color);
    padding: 15px 20px;
}
.btn-orange:hover{
    background-color: var(--primary-color-hover-green);
}
.form-btn-link{
    text-decoration: none;
    color: #fff;

}

.form-btn{
    width: 100%;
    background-color: #172554;
    border-radius: 10px; 
}
.form-btn:hover{
    background-color: #f74424;
}

/*-------------swipe-section------*/
.swiper {
    /* height: 100vh; */
  }
  /*---------------Reusable-Component---------*/
.row::after{
    content: "";
    display: table;
    clear: both;
}


.row{
    max-width: 1250px;
    margin: 0 auto;
}

.row [class^="col-"]{
    float: left;
}


.row [class^="col-"]:not(:last-child){
    margin-right: 40px;
}

.row .col-1-of-2{
    width: calc((100% - 40px) / 2);
}
.row .col-1-of-3{
    width: calc((100% - 2 * 40px) / 3);
}

.row .col-1-of-4{
    width: calc((100% - 3 * 40px) / 4);
}

/*--------------hero-section-------*/

.hero{
    position: relative;
   
}
.hero-slide{
    position: relative;
    min-height: 100vh;
}
.hero-slide-1{
    background-color: #172554;
    
}
.hero-slide-2{
    background-color: #450a0a;
}
.hero-image-box{
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
}
.hero-text-box{
    padding-top: 60px;
    padding-bottom: 25px;
    max-width: 500px;

}
.hero-para{
    line-height: 30px;
    padding-bottom: 40px;
}
.hero-image{
    width: 100%;
    height: 100%;
}
.hero-heading-main{
    font-size: 80px;
    font-weight: 800;
}
.hero-heading-sub{
    color: yellow;
    font-size: 50px;
}
.custom-shape-divider-bottom-1724099659 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1724099659 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1724099659 .shape-fill {
    fill: #FFFFFF;
}
.G-color{
    color: #fff;
}

/*--------choice-section----*/

.choice-section{
    background-color: var(--primary-back-color);
}
.choice-header-box{
    width: 500px;
    padding: 40px 0;
    margin: 0 auto;
}
.primary-header{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
.h1-care{
    color: var(--primary-color);
}
.choice-content-container{
    /* padding: 20px; */
    transition: all, 1s; 
}
.choice-content-container:hover{
    background-color: #fff;
}
.choice-image{
    width: 100%;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
}
.choice-sub-header{
    padding-top: 20px;
}
.choice-sub-text{
    text-align: center;
    padding-bottom: 10px;
}
.choice-product-roll{
    padding-top: 50px;
}


/*----------best-product-section-----*/

.best-product-section{
    background-color: var(--primary-back-color);
    padding-top: 0;
}

/* .burgerSwiper{
    max-width: 1140px;
    margin: 0 auto;
} */

.best-product-text-box{
    padding: 25px;
    background-color: #fff;
    border-radius: 7px;
}
.beefy-image-box{
    max-width: 200px;
    height: 200px;
    padding: 15px 0;
    
}
.beefy-bite-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.best-product-subtitle{
    font-weight: lighter;
}
.best-product-subtitle-bold{
    font-weight: 800;
    font-size: 20px;
}
.best-product-star-icon{
    color: var(--primary-color-hover-1);
    padding: 10px 0;
}
.best-product-para{
    word-spacing: 5px;
}
.best-product-coin{
    font-weight: 900;
    font-size: 20px;
    color: var(--primary-color);
}

/*------------delivery-section-------*/
.delivery-section{
    background-color: var(--primary-back-color);
}
.delivery-header-box{
    margin: 0;
    padding: 30px 0;
}
.sec-header{
    text-align: left;
    padding: 30px 0;
    font-size: 50px;
}
.delivery-icon{
    color: var(--primary-color);
    padding-top: 30px;
    font-size: 25px;
}
.delivery-text{
    font-weight: 700;
    font-size: 20px;
}
.deliveryParagraph{
}

/*------------CHEF-section-------*/

.chef-section{
    background-color: var(--primary-back-color);
    padding-top: 80px;
}
.chef-header{
    text-align: left;
}
.chefs-details-box{
    /* max-width: 500px; */
}
.chefs-about-box{
    text-align: center;
    /* padding: 20px 0; */
}
.chefs-image{
    border-radius: 40px;
}
.chefs-name{
    font-size: 35px;
    font-weight: 800;
    /* padding-top: 20px; */
    padding-bottom: 15px;
}
.chefs-title{
    background-color: var(--primary-color-hover-green);
    width: 120px;
    margin: 0 auto;
    padding: 8px;
    color: #fff;
}
.chefs-bio{
    padding-top: 20px;
}

/*--------------Reservation-section-------------*/

.Reservation-section{
    background-color: #000;
    background-image: url(../image/f2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
   
}
.Reservation-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
}
.reserv-text-box{
    color: #fff;
    padding-top: 50px;
    position: relative;
}
.reservation-header{
    font-size: 35px;
    padding-bottom: 20px;
}
.reserv-para{
    padding-bottom: 50px;
    line-height: 30px;
}

.reserv-icon-box{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color-hover-1);
    border-radius: 100%;text-align: center;
    float: left;
    
}
.order-quick-number{
    color: var(--primary-color);
}
.order-quick-line{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}
.reserv-details::after{
    content: "";
    clear: both;
    display: table;
}
.reserv-details{
    max-width: 255px;
}
.reserv-icon{
    line-height: 50px;
    color: #ccc;
}
.reserve-address{
    float: right;
}
.reserv-form-header{
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
}
.reserv-form-box{
    background-color: var(--primary-color-hover-green);
    padding: 50px;
    border-radius: 10px;
    position: relative;
}
.form-icon{
    font-size: 90px;
}
.form-hearder{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 15px;
}
.form-sub-header{
    font-size: 25px;
    font-weight: 700;
}
.form-input{
    display: block;
    width: 100%;
    background-color: transparent;
    margin: 20px 0;
    border: 2px #fff solid;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}
.form-sub-half{
    width: 40%;
}
.form-main-half{
    width: 50%;
    margin-left: 40px;
}
.form-half{
    display: inline;
}
form select option{
    color: #000;
    font-weight: 900;
}
.subcribe-box{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.sub-form-box{
    padding-top: 50px;
}
.sub-para{
    padding-top: 20px;

}
.subcribe-input{
    background-color: #c9bfbf;
    border-radius: 10px;
    border: none;
    padding: 15px;
    color: #fff;
    width: 70%;
}
.sub-inpput-align{
    display: inline;

}
.sub-form-width{
    
}


/*---------------footer-section--------*/
.footer-section{
    background-color: #111827;
    color: #fff;
    padding: 70px 0;
}
.footer-horizontal-line{
    border: 1px solid #ccc;
    width: 88%;
    margin: 20px auto;
}
.footer-copyright{
    text-align: center;
}
.footer-link{
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding-top: 20px;
}
footer div ul li a:hover{
    color: #f97316;
}
.footer-header{
    padding-bottom: 20px;
}
.footer-para{
    padding: 15px 0;
    line-height: 25px;
}
.footer-sub-para{
    padding-bottom: 15px;
}
.fa-facebook{
    color: rgb(76, 173, 185);
}
.fa-instagram{
    color: #f74424;
}
.fa-twitter{
    color: rgb(76, 173, 185);
}
.footer-icon{
    font-size: 30px;
    padding: 20px 20px 0 0;
}




/*-----------SCREEN IN LANDSCAP WITH THE MAX-WIDTH OF 1200------*/

@media screen and (max-width: 1200px){
    .row{
        max-width: 400px !important;
        margin: 0 auto;
    }
    .row [class^="col-"]{
        float: none;
        width: 100%;
    }
    .nav-menu {
        border-radius: 15px;
        float: none;
        padding: 30px;
        position: absolute;
        background-color: rgb(0, 94, 78);
        left: -500px;
        top: 0px; 
        height: 100vh;
        z-index: 9999;
    }
    .nav{
        max-width: 900px !important;
        margin: 0 auto;
    }
    .btn-container{
        position: relative;
        right: 300px;
    }
    .mobile-nav-icon{
        display: block;
    }
    .hero-slide{
        min-height: 100vh !important;
    }
    .form-main-half {
        width: 100%;
        margin: 0 auto;
    }
    .sub-inpput-align{
        width: 48%;
    
    }
    .custom-shape-divider-bottom-1724099659 svg {
        display: none;
    }
    .hero-image-box{
        display: none;
    }
    
}
/*-----------SCREEN WITH THE MIN-WIDTH OF 900------*/
@media screen and (max-width: 900px){
    .row{
        max-width: 460px !important;
    }
    .row [class^="col-"]{
        float: none;
        width: 100%;
    }
    .row [class^="col-"]:not(:last-child){
        margin-right: 0 !important;
        margin-bottom: 40px;
    }
    .nav{
        max-width: 680px !important;
        margin: 0 auto;
    }
    /* .nav-menu {
        border-radius: 15px;
        float: none;
        padding: 30px;
        position: absolute;
        background-color: rgb(0, 94, 78);
        left: -320px;
        top: 0px; 
        height: 100vh;
        z-index: 9999;
    } */
    
    .btn-container{
        right: 170px;
    }
    .nav-link{
        font-size: 28px;
        color: #fff;
    }
    .nav-item:not(:last-child){
        margin-right: 10px;
    }

    .nav-item {
        float: none;
        list-style: none;
    }
    
    
    
    .form-sub-half{
        width: 40%;
    }
    .form-main-half{
        width: 100%;
        margin: 0 auto;
    }
    .sub-inpput-align{
        width: 48%;
    
    }
    .hero-slide{
        height: 70vh !important;
    }

    .custom-shape-divider-bottom-1724099659 svg {
        display: none;
    }
    
}




/*-----------SCREEN WITH THE MAX-WIDTH OF 480------*/

@media screen and (max-width: 480px){
    
    
    .row{
        max-width: 300px !important;
        margin: 0 auto;
    }
    .nav-list{
        float: none !important;
        
    }
    .nav-item{
        float: none !important;
        padding: 0, 5px, 0, 15px;
    }
    .nav {
        width: 90%;
    }
    .btn-container{
        position: relative;
        right: 10px;
    }
    
    .brand-header {
        font-size: 12px;
    }
    
     .hero-image-box{
        max-width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .hero-text-box{
        padding-top: 0;
        padding-bottom: 0;
        max-width: 300px;
    }
    .hero-heading-main{
        font-size: 60px;
        font-weight: 800;
        padding: 15px 0;
    }
    .hero-heading-sub{
        color: yellow;
        font-size: 20px;
    }
    .primary-header {
        font-size: 20px;
        text-align: center;
        font-weight: 800;
    }
    .burgerSwiper{
        width: 50%;
    }
    .chefs-image{
        width: 300px;
    }
    .form-hearder {
        font-size: 25px;
        font-weight: 800;
        padding-bottom: 15px;
    }
    .choice-header-box {
        width: 300px;
        padding: 40px 0;
        margin: 0 auto;
    }
    .form-main-half {
        width: 50%;
        margin-left: 10px !important;
    }
    .subcribe-box{
        width: 290px;
    }
    
}